
# Build results
bin/
obj/
out/

# Visual Studio file's
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/
# Uncomment if you have local NuGet packages
# *.nuspec

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.backup
*.swp

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish outputs
publish/
*.pubxml
*.publishproj

# Azure
*.azurepubxml

# Others
*.dbmdl
*.jfm
