name: Build and deploy ASP.Net Core app to Azure Web App - policyservice-dev

on:
  push:
    branches:
      - release/dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build ./repo-root/api/insurance-mono/services/PolicyService/PolicyService.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish ./repo-root/api/insurance-mono/services/PolicyService/PolicyService.csproj -c Release -o ./myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./myapp

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'policyservice-dev'   # exact App Service name from portal
          package: ./myapp
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_POLICYSERVICE }}
